// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: $font-family;
  color: $white;
  background: $primary-color;
  &.greyLayout{
      background: $grey-bg;
      color: $primary-color;
      a{
          color: $primary-color;
      }
  }
  &.whiteLayout{
      background: $white;
      color: $primary-color;
      a{
          color: $primary-color;
      }
  }
}

.balance-text {
	text-wrap: balance;
}

img{
    width: 100%;
}

/* Header */

#header{
    .aviary{
        padding: 12rem 2rem;
        @media (min-width: 1360px) {
            padding: 24rem 0;
        }
        @media (min-width: 2000px) {
            padding: 32rem 0;
        }
        @media (max-width: 768px) {
            padding: 4rem;
        }
    }
    .aAviary{
        padding: 0 1rem;
        @media (max-width: 768px) {
            padding: 0;
        }
        img{
            transform: scale(1, 1);
            transition: transform 0.2s ease;
            @media (max-width: 768px) {
                max-width: 3rem;
            }
            &:hover{
                transform: scale(1.1, 1.1);
            }
        }
    }
    .imgWrap{
        position: relative;
        .cornerImg{
            position: absolute;
            top: 0;
            right: -4rem;
            width: 100%;
            opacity: 0.3;
            z-index: -1;
            @media (max-width: 768px) {
                right: -2rem;
            }
        }
    }
    .contacts{
        font-weight: 600;
        letter-spacing: 0.04rem;
        line-height: 2rem;
        text-transform: uppercase;
    }
    nav{
        margin: 36% 0 10%;
        @media (min-width: 1400px) {
            margin: 32% 0 10%;
        }
        @media (max-width: 768px) {
            margin: 48% 0 10%;
        }
        ul{
            padding-bottom: 4rem;
            li{
                list-style: none;
                display: block;
                padding: 0;
                font-size: 20rem;
                font-weight: 600;
                line-height: 17rem;
                letter-spacing: .08rem;
                transition: padding 0.2s ease-in-out;
                @media (min-width: 1400px) {
                    font-size: 25rem;
                    line-height: 23rem;
                }
                @media (min-width: 2000px) {
                    font-size: 30rem;
                    line-height: 27rem;
                }
                @media (max-width: 1120px) {
                    font-size: 16rem;
                    line-height: 14rem;
                }
                @media (max-width: 920px) {
                    font-size: 12rem;
                    line-height: 10rem;
                }
                @media (max-width: 768px) {
                    font-size: 6rem;
                    line-height: 5rem;
                }
                @media (max-width: 370px) {
                    font-size: 4rem;
                    line-height: 3rem;
                }
                &:hover{
                    padding: 0 0 0 2rem;
                }
            }
        }
    }
}

.intro{
    h2{
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }
}

.type{
    margin-top: 10rem;
    @media (max-width: 768px) {
        margin-top: 0;
    }
    .sideType{
        margin-top: 10rem;
        @media (max-width: 768px) {
            margin-top: 6rem;
        }
        h2{
            display: inline-block;
            font-size: 20rem;
            font-weight: 600;
            line-height: 17rem;
            letter-spacing: .08rem;
            padding: 0;
            @media (max-width: 1120px) {
                font-size: 16rem;
                line-height: 14rem;
            }
            @media (max-width: 920px) {
                font-size: 12rem;
                line-height: 10rem;
            }
            @media (max-width: 768px) {
                font-size: 6rem;
                line-height: 5rem;
            }
            @media (max-width: 370px) {
                font-size: 4rem;
                line-height: 3rem;
            }
        }
    }
}

/* Occupants */

ul.occupants{
    margin: 10rem 0 4rem;
    overflow: auto;
    border-bottom: 2px solid $dark-grey;
    @media (max-width: 768px) {
        margin: 2rem 0 4rem;
    }
    li{
        list-style: none;
        display: inline-block;
        float: left;
        width: calc(50% - 2px);
        border-top: 2px solid $dark-grey;
        margin: 0;
        padding: 2rem 0;
        @media (max-width: 768px) {
            width: 100%;
        }
        p{
            padding: 0;
            margin: 0;
            font-size: 1.8rem;
            letter-spacing: .08rem;
            transition: padding 0.2s ease-in-out;
            &:hover{
                padding: 0 0 0 1rem;
            }
        }
        &:nth-child(even){
            p{
                padding-left: 2rem;
                @media (max-width: 768px) {
                    padding-left: 0;
                }
                &:hover{
                    padding: 0 0 0 3rem;
                    @media (max-width: 768px) {
                        padding: 0 0 0 1rem;
                    }
                }
            }
            border-left: 2px solid #333;
            @media (max-width: 768px) {
                border-left: none;
            }
        }
    }
}

/* Desks */

ul{
    overflow: auto;
    &.desks{
        margin: 10rem 0 4rem;
        @media (max-width: 768px) {
            margin: 2rem 0 4rem;
        }
        li{
            position: relative;
            box-sizing: border-box;
            list-style: none;
            float: left;
            vertical-align: top;
            border: 2px solid $dark-grey;
            color: $mid-grey;
            width: 48%;
            height: 22rem;
            padding: 0.4rem 0.8rem;
            margin: 0 2% 4%;
            @media (max-width: 960px) {
                width: 100%;
                margin: 0 0 4%;
            }
            @media (max-width: 550px) {
                width: 48%;
                margin: 0 2% 4%;
            }
            &:nth-child(odd){
                margin-left: 0;
            }
            &:nth-child(even){
                margin-right: 0;
            }
            &.available{
                border: 2px solid $mid-grey;
                background: $mid-grey;
                color: $primary-color;
                transition: background 0.2s ease, border 0.2s ease;
                h4{
                    text-align: center;
                    font-size: 1.8rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    padding-top: 7.6rem;
                }
                &:hover{
                    border: 2px solid $light-grey;
                    background: $light-grey;
                }
                a{
                    color: $primary-color;
                }
            }
        }
    }
}

.deskContact{
    a{
        border-bottom: 1px solid $white;
    }
    h5, h6{
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }
}

/* Updates */

ul{
    &.updates{
        margin: 10rem 0 0;
        @media (max-width: 768px) {
            margin: 2rem 0 4rem;
        }
        li{
            list-style: none;
            margin: 0 0 6rem;
            padding: 0 0 4rem;
            h3{
                font-size: 4.2rem;
                line-height: 1.2;
                letter-spacing: 0.02rem;
                @media (max-width: 768px) {
                    font-size: 3rem;
                }
                a{
                    padding: 0;
                    transition: padding 0.2s ease-in-out;
                    &:hover{
                        padding: 0 0 0 1rem;
                    }
                }
            }
            .pub{
                font-size: 1.4rem;
                //font-style: italic;
            }
            p{
                font-size: 1.8rem;
                letter-spacing: 0.02rem;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-rendering: optimizeLegibility;
                @media (max-width: 768px) {
                    font-size: 1.4rem;
                }
            }
            h6{
                font-size: 1.8rem;
                font-weight: 600;
                padding: 0;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-rendering: optimizeLegibility;
                transition: padding 0.2s ease;
                &:hover{
                    padding: 0 0 0 1rem;
                }
            }
            &:last-child{
                margin: 0 0 4rem 0;
            }
        }
    }
}

/* Instagram & Twitter */

.insta, .twitt{
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-top: 6rem;
    //border-top: 1px solid $dark-grey;
    @media (max-width: 768px) {
        margin: 2rem 0 0;
    }
    h3{
        font-size: 1.8rem;
        letter-spacing: 0.08rem;
        margin-bottom: 4rem;
        /*font-size: 4.2rem;
        line-height: 1.2;
        letter-spacing: 0.02rem;*/
        a{
            //border-bottom: 1px solid $white;
            padding-left: 0;
            transition: padding 0.2s ease;
            &:hover{
                padding-left: 1rem;
            }
        }
    }
    ul{
        margin-top: 6rem;
        &.instagram{
            li{
                list-style: none;
                width: 30.666%;
                display: inline-block;
                float: left;
                padding: 0 2% 2%;
                @media (max-width: 768px) {
                    width: 100%;
                    padding: 0 0 2% 0;
                }
                &:nth-child(3n+1){
                    padding-left: 0;
                }
                &:nth-child(3n+3){
                    padding-right: 0;
                }
            }
        }
        &.twitter{
            li{
                list-style: none;
                display: inline-block;
                margin: 1rem 0;
                font-size: 1.8rem;
                width: 66%;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-rendering: optimizeLegibility;
                @media (max-width: 768px) {
                    width: inherit;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

/* Articles */

body{
    &.greyLayout{
        .articles{
            margin: 3% 0 6%;
        }
        .all{
            a{
                color: $grey-bg;
                border: 2px solid $mid-grey;
                background: $mid-grey;
                &:hover{
                    border: 2px solid $dark-grey;
                    background: $dark-grey;
                }
            }
        }
        #footer{
            margin-top: 6%;
            .copy{
                color: $footer-grey-grey;
            }
        }
    }
}

body{
    &.whiteLayout{
        .all{
            a{
                color: $white;
                border: 2px solid $mid-grey;
                background: $mid-grey;
                &:hover{
                    border: 2px solid $dark-grey;
                    background: $dark-grey;
                }
            }
        }
        article{
            em{
                margin-top: 1rem;
                display: inline-block;
                font-size: 4rem;
                line-height: 4.8rem;
                @media (min-width: 1400px) {
                    margin-top: 3rem;
                    font-size: 8rem;
                    line-height: 8.8rem;
                }
                @media (max-width: 768px) {
                    font-size: 3.2rem;
                    line-height: 4rem;
                }
            }
            strong, b{
                font-size: 2rem;
                line-height: 4.4rem;
                letter-spacing: 0.02rem;
                font-weight: normal;
            }
        }
        #footer{
            .copy{
                color: $footer-grey-white;
            }
        }
    }
}

.all{
    font-size: 1.8rem;
    letter-spacing: .08rem;
    font-weight: 600;
    text-transform: uppercase;
    a{
        color: $primary-color;
        padding: 1.6rem 3.6rem;
        border: 2px solid $mid-grey;
        background: $mid-grey;
        transition: background 0.2s ease, border 0.2s ease;
        //transition: padding 0.2s ease;
        &:hover{
            color: $primary-color;
            border: 2px solid $light-grey;
            background: $light-grey;
            //padding: 0 0 0 1rem;
        }
    }
}

.greyLayout{
    .type{
        .sideType{
            h2{
                font-size: 15rem;
                line-height: 13.25rem;
                @media (max-width: 1120px) {
                    font-size: 12rem;
                    line-height: 10rem;
                }
                @media (max-width: 920px) {
                    font-size: 9rem;
                    line-height: 7rem;
                }
                @media (max-width: 768px) {
                    font-size: 5rem;
                    line-height: 3rem;
                }
            }
        }
    }
}

.greyLayout, .whiteLayout{
    .type{
        margin-top: 0;
        .sideType{
            margin-top: 0;
        }
    }
    .articles{
        margin: 3% 0 0;
    }
    article{
        margin: 0 0 6rem;
        padding: 0 0 4rem;
        max-width: 120rem;
        h3{
            font-size: 4.2rem;
            line-height: 1.2;
            letter-spacing: 0.02rem;
            @media (max-width: 768px) {
                font-size: 3rem;
            }
            a{
                padding: 0;
                transition: padding 0.2s ease-in-out;
                &:hover{
                    padding: 0 0 0 1rem;
                }
            }
        }
        .pub{
            font-size: 1.4rem;
            //font-style: italic;
        }
        p{
            font-size: 1.8rem;
            letter-spacing: 0.02rem;
            @media (max-width: 768px) {
                font-size: 1.4rem;
            }
        }
        h6{
            font-size: 1.8rem;
            font-weight: 600;
            padding: 0;
            transition: padding 0.2s ease;
            &:hover{
                padding: 0 0 0 1rem;
            }
        }
    }
    .fullArticle{
        margin: 3% 0 0;
        h2{
            font-size: 10rem;
            font-weight: 600;
            line-height: 9rem;
            letter-spacing: .08rem;
            margin-bottom: 10rem;
            @media (max-width: 1120px) {
                font-size: 8rem;
                line-height: 8rem;
            }
            @media (max-width: 920px) {
                font-size: 6rem;
                line-height: 6rem;
                margin-bottom: 8rem;
            }
            @media (max-width: 768px) {
                font-size: 4rem;
                line-height: 4rem;
                margin-bottom: 6rem;
            }
        }
        p{
            font-size: 2rem;
            @media (max-width: 768px) {
                font-size: 1.6rem;
            }
            &.pub{
                font-size: 1.4rem;
                //font-style: italic;
            }
        }
    }
}

/* 404 */

.fourOhFour{
    h1{
        font-size: 20rem;
        font-weight: 600;
        line-height: 17rem;
        letter-spacing: .08rem;
        @media (max-width: 768px) {
            font-size: 6rem;
        }
    }
    p{
        font-size: 2.4rem;
    }
}

/* Footer */

#footer{
    margin-top: 10%;
    p{
        font-size: 1.4rem;
        line-height: 1rem;
        @media (max-width: 768px) {
            line-height: 2.4rem;
        }
        &.copy{
            font-size: 1.2rem;
            color: $dark-grey;
        }
    }
    .split{
        @media (max-width: 768px) {
            display: none;
        }
    }
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: darken($link-color, 5%);
  }
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $light-grey;
}
