// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 400;
}

h1 { font-size: 1.6rem; line-height: 1.2;  letter-spacing: 0.02rem;  }
h2 {
    font-size: 4.6rem;
    line-height: 1.2;
    letter-spacing: 0.02rem;
    @media (max-width: 760px) {
        font-size: 2.4rem;
    }
}
h3 { font-size: 1.6rem; line-height: 1.2;  letter-spacing: 0.02rem;  }
h4 { font-size: 1.6rem; line-height: 1.2;  letter-spacing: 0.02rem;  }
h5 { font-size: 1.6rem; line-height: 1.2;  letter-spacing: 0.02rem;  }
h6 { font-size: 1.6rem; line-height: 1.2;  letter-spacing: 0.02rem;  }

// Larger than phablet
@media (#{$bp-larger-than-phablet}) {
  h1 { font-size: 1.6rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 1.6rem; }
  h4 { font-size: 1.6rem; }
  h5 { font-size: 1.8rem; }
  h6 { font-size: 1.8rem; }
}

p {
  margin-top: 0;
}
