// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$mid: #AAAAAA !default;
$light-grey: #CCCCCC !default;
$mid-grey: #666666 !default;
$dark-grey: #333333 !default;
$primary-color: #111111 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$grey-bg: #999999 !default;
$link-color: #FFFFFF !default;
$font-color: #111111 !default;
$white : #FFFFFF !default;
$footer-grey-white: #DDDDDD !default;
$footer-grey-grey: #888888 !default;

// Typography
$font-family: 'Helvetica Neue', 'Helvetica', sans-serif;

//Grid Variables
$container-width: 100%; //960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;
