{% extends "_whiteLayout" %}

{#
If we've landed on a year, but without an article specified,
redirect to first article for the year
#}
{% if craft.request.segment(3) == "" %}
	{% set year = craft.request.segment(2) %}
	{% set entry = craft.entries({
		section: "articles",
		order: "postDate desc",
		limit: 1,
		after: year ~ "-01-01",
		before: (year + 1) ~ "-01-01"
	}).first() %}

	{# If we find the first article for this year, redirect there #}
	{% if entry|length %}
		{% redirect entry.url %}

	{# Otherwise redirect off to the articles landing page #}
	{% else %}
		{% redirect "/articles" %}
	{% endif %}

{% endif %}

{% block content %}

	<div class="row">
		<div class="columns nine fullArticle">
			<article>
				<h2>{{ entry.title }}</h2>
				<p class="pub">Published on {{ entry.postDate.format('F d, Y') }}</p>
				{{ entry.paragraph }}
			</article>

			<p class="all">
				<a href="/articles">All Editorials</a>
			</p>

		</div>
		<div class="columns three">
			&nbsp;
		</div>
	</div>
{% endblock %}
