{% extends "_greyLayout" %}
{% set title = "Articles" %}

{% block content %}

	<div class="row articles">
		<div class="columns twelve type">
			<div class="sideType">
				<h2>Editorials</h2>
			</div>
			&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="columns four">
			&nbsp;
		</div>
		<div class="columns six">
			{% for entry in craft.entries.section('articles').find() %}
				<article>
					<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
					<p class="pub">Published on {{ entry.postDate.format('F d, Y') }}</p>
					{% set paragraphs = entry.paragraph|split('</p>') %}
					{% set firstParagraph = paragraphs|first ~ '</p>' %}
					{{ firstParagraph|raw }}
					<h6>
						<a href="{{ entry.url }}">
							Continue reading...
						</a>
					</h6>
				</article>
			{% endfor %}

			<p class="all">
				<a href="/">Home</a>
			</p>

		</div>
		<div class="columns two">
		</div>
	</div>

{% endblock %}
