{% extends "_greyLayout" %}
{% set title = "404" %}

{% block content %}

	<div class="row">
		<div class="columns twelve fourOhFour">
			<h1>404</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="columns four">
			&nbsp;
		</div>
		<div class="columns eight fourOhFour">
			<p>Page not found.</p>
		</div>
	</div>

{% endblock %}
