<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1"> {# maximum-scale=1, user-scalable=no #}

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cccccc">
	<meta name="theme-color" content="#ffffff">

	{# SEOmatic #}
	{% hook "seomaticRender" %}

	{# Cachebust the CSS/JS #}
    {% set assetVersion = 2.21 %}

	{% includeCssFile "/assets/styles/site.min.css?v="~assetVersion %}
	{% includeJsFile "/assets/js/jquery-2.2.4.min.js" %}
	{% includeJsFile "/assets/js/main.min.js?v="~assetVersion %}

</head>

<body class="whiteLayout">
	<div id="container" class="container">
		<header id="header">
			<div class="row">
				<div class="columns eleven">
					&nbsp;
				</div>
				<div class="columns one aAviary">
					<h1>
						<a href="{{ siteUrl }}">
							<img src="/assets/img/aviary-a.svg" alt="The Aviary" title="The Aviary" />
						</a>
					</h1>
				</div>
			</div>

			{#<nav>
				<ul>
					<li><a href="{{ siteUrl }}#occupants" {% if craft.request.firstSegment == 'occupants' %}class="active"{% endif %}>Occupants</a></li>
					<li><a href="{{ siteUrl }}#desks" {% if craft.request.firstSegment == 'desks' %}class="active"{% endif %}>Desks</a></li>
					<li><a href="{{ siteUrl }}#updates" {% if craft.request.firstSegment == 'updates' %}class="active"{% endif %}>Updates</a></li>
				</ul>
			</nav>#}
		</header>

		<main id="content">
			{% block content %}
			{% endblock %}
		</main>

		<footer id="footer">
			<div class="row">
				<div class="columns nine">
					<p>
						<a href="https://goo.gl/maps/2LFkErgcVBv" target="_blank" rel="noreferrer noopener">{{ contact.address }}</a> &nbsp;<span class="split">|</span>&nbsp; <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
					</p>
					<p class="copy">
						&copy; {{ siteName }} {{ now.year }}
					</p>
				</div>
				<div class="columns three">
					&nbsp;
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
