{% extends "_layout" %}

{% block content %}

	{# Introduction paragraph #}

	<div class="row">
		<div class="columns four">
			&nbsp;
		</div>
		<div class="columns eight intro">
			<h2>{{ entry.intro|nl2br }}</h2>
		</div>
	</div>

	{# End introduction paragraph #}
	{# Occupants title & matrix block #}

	<div class="row">
		<div id="occupants" class="columns twelve type">
			<div class="sideType">
				<h2>Occupants</h2>
			</div>
			&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="columns four">
			&nbsp;
		</div>
		<div class="columns eight">
			<ul class="occupants">
				{% for entry in entry.occupants %}
				<li>
					<p>
						{% if entry.occupantLink|length %}
						<a href="{{ entry.occupantLink }}" target="_blank" rel="noreferrer noopener">{{ entry.occupantName }}</a>
						{% else %}
						{{ entry.occupantName }}
						{% endif %}
					</p>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	{# End occupants #}
	{# Desks title & matrix block #}

	<div class="row">
		<div id="desks" class="columns twelve type">
			<div class="sideType">
				<h2>Desks</h2>
			</div>
			&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="columns four">
			&nbsp;
		</div>
		<div class="columns four">
			<ul class="desks">
				{% for entry in entry.desks.limit(8) %}
				{% if entry.unavailableAvailable %}
					<li class="available">
						<a href="#deskContact" data-ps2id-offset="200">
						.{{ entry.deskNumber }}
						<h4>Available</h4>
						</a>
					</li>
				{% else %}
				<li>
					.{{ entry.deskNumber }}
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="columns four">
			<ul class="desks">
				{% for entry in entry.desks.limit(8).offset(8) %}
				{% if entry.unavailableAvailable %}
					<li class="available">
						<a href="#deskContact" data-ps2id-offset="200">
						.{{ entry.deskNumber }}
						<h4>Available</h4>
						</a>
					</li>
				{% else %}
				<li>
					.{{ entry.deskNumber }}
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>

	{# End desks matrix #}
	{# Desk information #}

	<div class="row">
		<div class="columns four">
			&nbsp;
		</div>
		<div id="deskContact" class="columns four deskContact">
			<h5>
				{{ entry.deskInformation }}
			</h5>
			<h6>
				<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
			</h6>
		</div>
		<div class="columns four">
			&nbsp;
		</div>
	</div>

	<div class="row">
		<div id="updates" class="columns twelve type">
			<div class="sideType">
				<h2>Updates</h2>
			</div>
			&nbsp;
		</div>
	</div>
	{#<div class="row">
		<div class="columns four">
			&nbsp;
		</div>
		<div class="columns six">
			<ul class="updates">
				{% for entry in craft.entries.section('articles').limit(3).find() %}
					<li>
						<h3>
							<a href="{{ entry.url }}">{{ entry.title }}</a>
						</h3>
						<p class="pub">Published {{ entry.postDate.format('F d, Y') }}</p>

						{% set paragraphs = entry.paragraph|split('</p>') %}
						{% set firstParagraph = paragraphs|first ~ '</p>' %}
						{{ firstParagraph|raw }}

						<h6>
							<a href="{{ entry.url }}">Continue reading...</a>
						</h6>
					</li>
				{% endfor %}
			</ul>

			<p class="all">
				<a href="/articles">All Editorials</a>
			</p>

		</div>
		<div class="columns two">
			&nbsp;
		</div>
	</div>#}

	<div class="row">
		<div class="columns four">
			&nbsp;
		</div>
		<div class="columns eight insta">
			<h3>
				Instagram
				<a href="https://instagram.com/{{ contact.instagram }}" target="_blank" rel="noreferrer noopener">
					@{{ contact.instagram }}
				</a>
			</h3>
			<ul class="instagram">
			{% for image in craft.instagramfeed.getFeed(9) %}
				<li>
				    <a href="{{ image.link }}" target="_blank" rel="noreferrer noopener">
				    	<img src="{{ image.url }}" alt="@{{ contact.instagram }}" title="@{{ contact.instagram }}" />
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>

	{#<div class="row">
		<div class="columns four">
			&nbsp;
		</div>
		<div class="columns eight twitt">
			<h3>
				Twitter
				<a href="https://twitter.com/{{ contact.instagram }}" target="_blank" rel="noreferrer noopener">
					@{{ contact.instagram }}
				</a>
			</h3>
			{% set tweets = craft.twitter.get("statuses/user_timeline", {count:6}) %}
			<ul class="twitter">
			{% if tweets %}
			{% for tweet in tweets %}
				<li>
					{{ tweet.text|autoLinkTweet }}
				</li>
			{% endfor %}
			{% else %}
				<li>
					Tweets are on their way!
				</li>
			{% endif %}
			</ul>
		</div>
	</div>#}

{% endblock %}
